
@font-face {
    font-family: 'Open Sans';
    src: url('https://fonts.googleapis.com/css?family=Open+Sans');
}

body {
    background-image: url("image/New-Website-Background3.jpg");
    color: #282828;
    margin: 0 3% 0 3%;
    font-family: "Open Sans";
    font-size:16px;
}

#logo {
    float: left;
    margin: 10px;
}

#h1_heading {
    font-size: 45px;
}

#introduction_video {
    float: right;
    margin: 10px;
}

#introduction_div > #introduction_video {
    width: 30%;
}

#flag_tableID {
    background-color: whitesmoke;
}

#content_listID {
    line-height: 180%;
}

#content_list_divID, #content_list2_divID {
    border: solid 2px whitesmoke;
    background-color: rgba(50, 50, 50, 0.05);
    width: 30%;
}

#next_grand_prix, #latest_grand_prix {
    display: inline-block;
}

#two_grands_prix > #next_grand_prix {
    position: relative;
    left: 1%;
    width: 45%;
    margin: 2% 0 2% 0;
    border: solid 2px whitesmoke;
}
#next_grand_prix > #abu_dhabi2017 {
    width: 90%;
}

#two_grands_prix > #latest_grand_prix {
    position: relative;
    left: 6%;
    width: 45%;
    margin: 2% 0 2% 0;
    border: solid 2px whitesmoke;
}

#latest_grand_prix > #brazil2017 {
    width: 90%;
}

#abu_dhabi2017, #brazil2017 {
    display: block;
    margin: auto;
    margin-bottom: 3%;
    width: 40%;
}

#race_table_divID > #race_tableID {
    width: 95%;
    margin: auto;
}

#race_tableID, #ms_record_tableID, #race_season_tableID, #constructor_tableID ,#gpwinnersID{
    border: solid 2px rgba(50, 50, 50, 1);
}

#ms_record_table_divID > #ms_record_tableID {
    width: 50%;
    margin: 0 50% 0 0;
}

#rave_season_table_divID > #race_season_tableID {
    width: 95%;
    margin: auto;
}

#ms_picID {
    float: right;
    margin: 20px;
    border-radius: 5%;
}


#ms_videoID {
    float: left;
    margin: 20px;
}

.drivers{
    display: inline-block;
    height: 120px;
    width: 150px;
}

#constructor_divID > #constructor_tableID {
    width: 95%;
    margin: auto;
}

#gpwinners_divID > #gpwinnersID {
    width: 95%;
    margin: auto;
}

#content_list2_divID {
    float: right;
}

table, td, th {
    border: 1px solid gray }

.content {
    text-align: center;
}

table {
    vertical-align: middle;
    horiz-align: center;
}

#introduction_video {
    width: 427px;
    height: 240px;
}
#flag_tableID {
    width: 200px;
}